<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Up2Date</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  </head>

    <body>
        <header class="header">
            <div class="header"> Welcome to Up2Date</div>
            <%- include('./partials/search.ejs') %>
        </header>        
        
        <img src="/img/logoReflection.png" class="logo">
<div class="enter"><h1> <a href="/news">Enter Site</a></h1></div>


